<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="template/basic/index.css?20230718">
	<title><?=h($boardname)?></title> 
<style>
.success {
    font-size: 24px;
    margin: 16px 0 0 0;
}
</style>
</head>
<body>
	<div class="container">
	<h1 class="title"><a href="./"><?=h($boardname)?></a></h1>
	<nav class="menu_wrap" >
		<span>[<a href="./"><?php if($en):?>Return<?php else:?><?=h($boardname)?><?php endif;?></a>]</span>
		<span> [<a href="./?mode=paintcom"><?php if($en):?>Recover Images<?php else:?>未投稿画像<?php endif;?></a>]</span>
		<a href="#bottom">▽</a>
	</nav>
<hr>
<h2>
<?php if($en):?>Your post was successful.<?php else:?>投稿に成功しました。<?php endif;?>
</h2>
<div class="success">
<?php
session_sta();
$baseUrl = isset($_SESSION['misskey_server_radio']) ? $_SESSION['misskey_server_radio'] : "";
$baseUrl = filter_var($baseUrl,FILTER_VALIDATE_URL) ? $baseUrl:'';
$host = parse_url($baseUrl,PHP_URL_HOST);
?>
<a href="<?=h($baseUrl)?>"><?=h($host)?></a>
</div>
<hr>
<div class="copy">
		<div class="left_wrap">
	</div>
<div class="righit_wrap">
<?php include __DIR__.'/parts/copyright.html';?>
</div>
</div>
</div>
</body>
</html>
